@charset "utf-8";

@import url("desktop.css") screen and (min-width:768px)

;
@import url("tablet.css") screen and (min-width:480px) and (max-width:768px)

;
@import url("mobile.css") screen and (max-width:480px)

;
/*
Buttons taken from: https://tympanus.net/Development/CreativeButtons/
Fonts via: Adobe Typekit
*/

#big_main_heading {
  color: #282E34;
  font-size: 96px;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
}

#main_sub_heading {
  color: #282E34;
  font-size: 36px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: italic;
  font-weight: 200;
}

body, html {
  height: 100%;
  margin: 0;
}

.caption {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 100%;
	  text-align: center;
	  color: #000;
	}

.caption span.border {
	  padding-bottom: 50px;
	  color: white;
	  font-size: 96pt;
	  font-family: europa, sans-serif;
	  font-style: normal;
	  font-weight: 700;
	}

div.title {
	  height: 10em;
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-right: -50%;
	  transform: translate(-50%, -50%)
	}

div.body {
		padding: 50px 150px;
	}

h3 {
	  font-size: 24px;
	  font-family: europa, sans-serif;
	  font-style: normal;
	  font-weight: 700;
	}

.bodyparagraph {
	  font-size: 20px;
	  font-family: acumin-pro-condensed, sans-serif;
	  font-style: normal;
	  font-weight: 400;
	}

a.btn {
	border: none;
	font-family: acumin-pro-condensed, sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
}

a.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

a.btn-1a:hover,
a.btn-1a:active {
	color: #282E34;
	background: #fff;
}
