@charset "utf-8";

/*
Buttons taken from: https://tympanus.net/Development/CreativeButtons/
Fonts via: Adobe Typekit
*/

/* Possible red color: #e74c3c or #c0392b
*/

#big_main_heading {
	color: #282E34;
	font-size: 96px;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#main_sub_heading {
	color: #282E34;
	font-size: 36px;
	font-family: acumin-pro-condensed, sans-serif;
	font-style: italic;
	font-weight: 200;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	  background-image: url("images/main_full_background.JPG");
	  min-height: 100%;
	}

.bgimg-2 {
	  background-image: url("images/main_full_background2.jpg");
	  min-height: 100%;
	}

.bgimg-3 {
	  background-image: url("images/main_full_background3.JPG");
	  min-height: 100%;
	}
	
div.body {
	padding: 50px 120px;
}


.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	}

.main_container {
	display: flex;
    padding: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0px;
}

.link_container {
	display: flex;
    padding: 0;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0px;
	color: #ddd; 
	background-color: #282E34; 
	text-align: center;
	padding: 50px 10px;
}

.title {
	align-self: center;
	margin: auto;
	margin-top: 5px;
	flex: 0 1 auto;
	height: auto;
	width: auto;
}

.signature_block {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: flex-end;
	padding-right: 80px;
}

.caption span.border {
	padding-bottom: 50px;
	color: white;
	font-size: 96pt;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 700;
	}

h3 {
	font-size: 24px;
	font-family: europa, sans-serif;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #282E34;
	}

.bodyparagraph {
	font-size: 24px;
	font-family: acumin-pro-condensed, sans-serif;
	font-style: normal;
	font-weight: 400;
	}

.graytext {
	color: #282E34;
}

.whitetext {
	color: white;
}

a.btn {
	border: none;
	font-family: acumin-pro-condensed, sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
}

a.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

a.btn-1a:hover,
a.btn-1a:active {
	color: #282E34;
	background: #fff;
}

/* TABLET */
@media (max-width:768px){
	div.body {
		padding: 50px 40px;
	}
	
	.signature_block {
		justify-content: center;
		align-items: center;
		align-self: center;
		padding-right: 0px;
	}
	
	.bodyparagraph {
		font-size: 28px;
	}
}

/*MOBILE*/
@media (max-width:400px){
	div.body {
		padding: 50px 10px;
	}
	
	.bodyparagraph {
		font-size: 32px;
	}
}