@charset "utf-8";

#big_main_heading {
  color: #282E34;
  font-size: 96px;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
}

#main_sub_heading {
  color: #282E34;
  font-size: 36px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: italic;
  font-weight: 200;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1 {
  background-image: url("images/main_full_background.JPG");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/main_full_background2.jpg");
  min-height: 800px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 800px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  padding-bottom: 50px;
  color: white;
  font-size: 96pt;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
}

div.title {
  height: 10em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

h3 {
  color: #282E34;
  font-size: 24px;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.bodyparagraph {
  color: #282E34;
  font-size: 20px;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  font-weight: 400;
}
