/* CSS Document */

/* Used for buttons taken from: https://tympanus.net/Development/CreativeButtons/ */


a.btn {
	border: none;
	font-family: acumin-pro-condensed, sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
}

a.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

a.btn-1a:hover,
a.btn-1a:active {
	color: #282E34;
	background: #fff;
}

a.btn-1-dark {
	border: 3px solid #282E34;
	color: #282E34;
}

a.btn-1a-dark:hover,
a.btn-1a-dark:active {
	color: #fff;
	background: #282E34;
}

a.btn-1-dark-matt {
	border: 3px solid #282E34;
	color: #282E34;
	background-image: url("../files/matt_button.jpg");
	max-width: 200px;
	width: 100%;
}

a.btn-1a-dark-matt:hover,
a.btn-1a-dark-matt:active {
	color: #fff;
	background: #282E34;
}