---
import IntroSlidesContent from "./IntroSlidesContent.astro";

interface Props {
	vertical?: boolean;
}

const { vertical = true } = Astro.props;
---

{
	vertical ? (
		<section>
			<IntroSlidesContent></IntroSlidesContent>
		</section>
	) : (
		<IntroSlidesContent></IntroSlidesContent>
	)
}
