---
interface Props {
	class?: string;
	centerHeader?: boolean;
}

const { class: className, centerHeader = false } = Astro.props;
---

<section class={`${className ?? ""} ${centerHeader ? "center-header" : ""}`}>
	<slot />
</section>
